.basicMargin {
    margin-bottom: 50px;
}

.inputDiv{
    padding: 5px 0 5px 0;
}

.inputDiv span {
    width: 150px;
    display: inline-block;
}

.inputDiv input, .inputDiv select {
    width: 150px;
    height: 27px;
}

.inputDiv .btn {
    height: 27px;
    width: 100px;
    margin-left: 50px;
    font-size: 10px;
    vertical-align: top;
}

.basicMargin .btn{
    width: 190px;
}

thead {
    font-weight: 700;
}