.basicMargin {
    margin-bottom: 50px;
}

.inputDiv{
    padding: 5px 0 5px 0;
}

.inputDiv span {
    width: 150px;
    display: inline-block;
}

.inputDiv input, .inputDiv select {
    width: 150px;
    height: 27px;
}

.inputDiv .btn {
    height: 27px;
    width: 100px;
    margin-left: 50px;
    font-size: 10px;
    vertical-align: top;
}

.basicMargin .btn{
    width: 190px;
}

thead {
    font-weight: 700;
}

.menu-container {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    display: block;
    background: #ffffff;
}

.nav li, .nav li a {
    background-color: #ac0e35;
    color: white;
    font-weight: 700;
}

.nav li .active, .nav li .active a, .nav-tabs>li.active>a{
    background-color: white;
    color: #ac0e35 !important;
}

.nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav>li>a:focus, .nav>li>a:hover{
    background-color:  #7d1111 !important;
}

.front-picture {
    width: 100%;
}